<div class="fixed-image">
  <section id="home">
    <div [@slide]="" class="title-container">
      <h1 class="mat-display-3">{{home.section1.title}}</h1>
      <p class="mat-display-1" style="width: 60%">{{home.section1.subtitle}}</p>
      <button mat-raised-button color="accent">{{home.section1.buttonTitle}}</button>
    </div>
  </section>

  <section id="features">

    <div class="border-box">
      <div class="internal-box">
        <h1 class="mat-display-1" style=" width:50%; margin: 0; color: white">{{home.section2.title}}</h1>
        <p class="mat-subheading-1" style="width: 50%; margin: 15px; color: #888888"> {{home.section2.subtitle}}</p>
      </div>
    </div>
      <div class="section-background"></div>
  </section>

</div>


